@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

*{
  font-family: 'Inter', Arial;
  box-sizing: border-box;
  padding: 0px;
  margin: 0px;
}

a{
  text-decoration: none;
}

ul{
  list-style: none;
}

::-webkit-scrollbar{
  width: 10px;
}

::-webkit-scrollbar-thumb{
  width: 10px;
  background: var(--cor-principal);
}

/* Cores */ 
:root {
  --cor-principal: #00D2DF;
  --cor-gradiente-1: linear-gradient(270.06deg, #6518B4 0%, #D24074 101.62%);
  --cor-gradiente-2: linear-gradient(269.96deg, #10D7E2 0%, #9358F7 100%);
  --cor-preto-1: #121212;
  --cor-preto-2: #151515;
  --cor-cinza: #c4c4c4;
  --cor-branco: #fff;
}

/* Body */ 
body{
  background: var(--cor-preto-2);
  color: var(--cor-branco);
}

/* Botões */ 
.btn-1{
  background: transparent;
  border: 2px solid;
  border-image: var(--cor-gradiente-2);
  border-width: 2px;
  border-image-slice: 1;
  padding: .7rem 2.5rem;
  font-weight: 700;
  margin-top: 75px;
  cursor: pointer;
  color: var(--cor-branco);
}
.btn-2{
  background: transparent;
  border: 2px solid;
  border-image: var(--cor-gradiente-1);
  border-width: 2px;
  border-image-slice: 1;
  padding: .7rem 2.5rem;
  font-weight: 700;
  margin-top: 75px;
  cursor: pointer;
  color: var(--cor-branco);
}

/* Projeto reutilizáveis */ 
.proj-titulo{
  font-size: 1.5rem;
  font-weight: 500;
  text-transform: initial;
  margin: 40px 0px 30px 0px;
}
.proj-paragrafo{
  font-weight: 300;
  color: var(--cor-cinza);
  text-transform: initial;
  margin-bottom: 26px;
}
.proj-lista{
  display: flex;
  gap: 20px;
  align-items: center;
}

/* Footer */ 
footer{
  margin: 100px 180px 40px 180px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
/* Responsivo Footer */
@media(max-width: 890px){
  footer{
    margin: 60px 24px 40px 24px;
  }
}
@media (max-width: 420px){
  footer{
    margin: 60px 24px 40px 24px;
  }
}