.sobre{
  display: flex;
  gap: 180px;
  padding-top: 100px;
  background: var(--cor-fundo-2);
}

.imagem{
  margin-left: 180px;
  max-width: 100%;
  display: block;
  position: relative;
}
.imagem::before{
  content: '';
  position: absolute;
  width: 4px;
  height: 367px;
  background: var(--cor-principal);
}

.sobre-container{
  padding-right: 180px;
}

.sobre-container h1{
  font-size: 1.5rem;
  font-weight: 600;
  text-transform: uppercase;
  margin-bottom: 40px;
}

.sobre-container h2{
  font-size: 1.25rem;
  font-weight: 500;
  margin-bottom: 20px;
}

.sobre-container p{
  font-size: 1.125rem;
  font-weight: 300;
  color: var(--cor-subtitulos);
  margin-bottom: 40px;
  text-transform: initial;
}

.sobre-container .btns{
  display: flex;
  gap: 2rem;
  margin-bottom: 100px;
}

.sobre-container .btn-1, .sobre-container .btn-2{
  margin-top: 0px;
}

.techs{
  margin: 10% 0;
  width: 80%;
  display: flex;
  justify-content: space-around;
}

.techs svg{
  color: var(--cor-principal-2);
  width: 8%;
  transition: all 0.2s;
}

.techs svg:hover{
  color: var(--cor-decoracao);
  -webkit-transform: scale(1.2);
  transform: scale(1.2);
}


/* Responsivo */
@media(max-width: 1026px){
  .imagem{
    display: none;
  }
  .sobre-container h1{
    padding-left: 180px;
    margin-bottom: 24px;
  }
  .sobre-container h2{
    padding-left: 180px;
    margin-bottom: 24px;
  }
  .sobre-container p{
    padding-left: 180px;
  } 
  .sobre-container ul{
    justify-content: left;
    padding-left: 180px;
  }
  .sobre-container .btns{
    justify-content: left;
    padding-left: 180px;
  }
  .techs{
    margin: 40px 120px;
    width: 80%;
    display: flex;
    justify-content: space-around;
  }
}

@media(max-width: 890px){
  .sobre{
    padding-left: 40px;
    padding-top: 60px;
  }
  .imagem{
    display: none;
  }
  .sobre-container h1{
    padding-left: 0px;
  }
  .sobre-container h2{
    padding-left: 0px;
  }
  .sobre-container p{
    padding-left: 0px;
  } 
  .sobre-container ul{
    justify-content: left;
    padding-left: 0px;
  }
  .sobre-container .btns{
    justify-content: left;
    padding-left: 0px;
  }
  .techs{
    margin: 40px 0px;
    width: 80%;
    display: flex;
    justify-content: space-around;
  }
}

@media (max-width: 420px){
  .sobre{
    padding-left: 20px;
    padding-top: 30px;
  }
  .imagem{
    display: none;
  }
  .sobre-container{
    margin-right: 0px;
  }
  .sobre-container h1{
    margin-bottom: 16px;
  }
  .sobre-container h2{
    font-size: 1rem;
    margin-bottom: 8px;
  }
  .sobre-container p{
    font-size: 0.875rem;
    margin-bottom: 14px;
  }
  .sobre-container .btns{
    margin-bottom: 24px;
  }
  .techs{
    width: 100%;
    margin: 10px 0px;
  }
}